# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
build/
dist/

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Mac OS metadata
.DS_Store
